@import "../../../style/core";

$hamburger-layer-color         : #fff;
@import "./hamburgers/hamburgers";

.heading {
  font-family: 'Comfortaa', cursive;
  color: white;

  height: 100px;
  background: theme-color(bs);

  display: flex;

  & > * {
    display: flex;
    align-items: center;
  }

  .identifier {
    font-size: 3rem;
  }

  .logo {
    padding: 0 1.5rem;
    margin-left: auto;
    img {
      //clip-path: #fff;
    }
  }

  .heading-body {
    display: none;
    @include media-breakpoint-up(md) {
      display: inherit;
    }
  }
}