.save-changes-alert {
  ///color:cyan;
  opacity:.75;
  position:fixed;
  bottom: 0;
  left:0;
  width:100%;
  margin:0 auto;
  transition: all .25s ease;
  z-index:1000;
  &:hover, &:focus {
    opacity: 1;
  }
}

.mb-extended {
  margin-bottom: 7rem;
}