.question-item {
  position:relative;
  display:flex;
  border-bottom: solid 1px #ccc;
  cursor: pointer;
  transition: all .15s ease;
  &:first-of-type { border-top: solid 1px #ccc; }
  &:last-of-type { border-bottom: none; }
  &:hover {
    background: whitesmoke;
  }
  &:active {
    background: floralwhite;
  }
  &:hover .question-id123 {
    width:150px;
    border-bottom-right-radius: .25rem;
    &:before {
      color:white;
      padding:.25rem;
      content: 'Click to expand'
    }
  }
}

.question-order {
  display: flex;
  flex-direction: column;
  padding-top: 1.15rem;
  border-right: solid 1px #ccc;
  * {
    flex-grow:1;
  }
}

.question-body {
  padding: 1rem;
}
.question-id {
  white-space: nowrap;
  position:absolute;
  top:0;
  left:0;
  width:25px;
  height:25px;
  background:#007bff;
  border-bottom-right-radius: 40%;
  transition:all .25s ease;
  div {
    color:white;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;;
  }
}